# .gitignore file
#
# Set up for Microchip/MPLAB X development
#
# John Haroian
# Updated September 14, 2016

# Object files
*.o
*.ko
*.obj
*.elf

# Executables
*.exe
*.hex

# Netbeans specific
~*.*
build/
dist/
**/private/

disassembly/
*.zip
*.mk
*.bash
**/Makefile-genesis.properties
**/private.xml

# KDE specific
.directory

# Misc
.svn
*.bak

# Working files for Altium
*.LOG

# Visual Studio
Thumbs.db
*.APS
*.ncb
*.suo
/firmware/PIC32MK_ClockConfig.X/nbproject/private/